.cover{
   background: url('assets/9kh3G8L.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
   width: 100vw;
  color: hsla(0,0%,100%,.7);
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
   display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0 .625rem;
}

.byline h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.byline h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.headline {
  font-size: 3rem;
  margin: 2rem 0;
}

.head, .links {
  text-align: center;
}

 /* Linkurile Contact */

ul {
  list-style-type: none;
}

li {
  display: inline;
}


@media screen and (min-width: 1224px) {

  .headline {
    font-size: 6rem;
  }

}

.tagline {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
}

img:hover {
  filter: grayscale(20%);
  transform: scale(1.1);
}



/* ==== ARTICLE STYLES ==== */

section {
  padding: 0 .625rem;
}

@media screen and (min-width: 1224px) {

  section {
    width: 50%;
    max-width: 600px;
    margin: 2rem auto;
  }
  
section p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}
  
  /* Linkurile Contact */

ul {
  list-style-type: none;
}

li {
  display: inline;
}